h1,
h2,
h3,
h4 {
  color: antiquewhite;
  font-weight: bold;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
  line-height: 1.4;
}

h4 {
  font-size: 22px;
}

p {
  font-size: 20px;
  color: #dfd0b8;
}

#root {
  background-color: #222831;
}

.navbar,
.navbar-button {
  background-color: #393e46;
}

.navbar-button:hover {
  background-color: #2a2d32;
}

.other-color {
  /* The other colour from the colour pallete */
  color: #948979; 
}